<h1><%= @employee.name %></h1>
<p><b>i-9 Eligible?</b> <%= @employee.i9_eligible %></p>
<p><b>Benefits Eligible?</b> <%= @employee.benefits_eligible %></p>
<p><b>Salary:</b> <%= @employee.salary %></p>
