<nav>
  <a href="/companies">All Companies</a> |
  <a href="/employees">All Employees</a> 
</nav>

<h1>Companies</h1>

<% @companies.each do |company| %>
  <p><b><a href="/companies/<%= company.id %>"><%= company.name %></a></b> 
  <a id="edit_button" href="/companies/<%= company.id %>/edit"><button>Edit</button></a>
  Created at: <%= company.created_at %>
  </p>
<% end %>

<a href="/companies/new"><button>Add New Company</button></a>