<nav>
  <a href="/companies">All Companies</a> |
  <a href="/employees">All Employees</a> 
</nav>

<h1>Companies</h1>

<% @companies.each do |company| %>
  <h3><b><a href="/companies/<%= company.id %>"><%= company.name %></a></b> Created at: <%= company.created_at %></h3>
<% end %>

<a href="/companies/new"><button>Add New Company</button></a>